# dependencies
node_modules

# builds
dist
build
.next
out

# env
.env
.env.local
.env.*.local

# logs
logs
*.log

# turbo
.turbo

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# docker
postgres-data
redis-data

.agent
api-endpoints.txt

# Sprint Plans
_sprint_plans/

# Yash Tasks
yash-tasks/
yash spring/
# Playwright
playwright-report/
test-results/
